version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      dependencies:
        patterns:
          - "*"

  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      dependencies:
        patterns:
          - "*"
    # Do not upgrade PyO3 related dependencies
    ignore:
      - dependency-name: "pyo3"
      - dependency-name: "pyo3-*"
      - dependency-name: "numpy"
      - dependency-name: "serde-pyobject"
