rust/ommx/src/ommx.v1.rs linguist-generated=true
python/ommx/**/*_pb2.py* linguist-generated=true
requirements.txt linguist-generated=true

**/*.ipynb linguist-vendored

# Insta snapshot files
**/*.snap linguist-generated=true
