# OMMX Artifact
*.ommx
*.ommx.*

# MPS files
**/*.mps.gz

# Rust
target/

# Proptest
rust/ommx/proptest-regressions/

# VSCode
.vscode/

# Jupyter notebooks
Untitled*.ipynb
*.nbconvert.ipynb
.ipynb_checkpoints/

# Python
.venv*/
__pycache__/
python/**/build/
python/**/dist/
python/**/*.egg-info/
python/**/*.so

# Doc
doc/_build/
