# This is a setting for end user and Binder environment. Do not use this for development.
ommx >= 1.4.1, < 2.0.0
ommx-python-mip-adapter >= 1.4.0, < 2.0.0
ommx-pyscipopt-adapter >= 1.4.0, < 2.0.0
jupyterlab
matplotlib
networkx
