# Since most of PR does not affect benchmark, we do not run benchmarks on PR by default.
# Run manually if needed via `task codspeed:trigger`

name: Benchmark

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  rust:
    name: Benchmarks for Rust SDK
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Environment
        uses: ./.github/actions/setup-test-environment
      - name: Install cargo-codspeed
        run: cargo install cargo-codspeed --locked
      - name: Build CodSpeed Benchmark Target(s)
        run: cargo codspeed build
      - name: Run the benchmarks
        uses: CodSpeedHQ/action@v4
        with:
          run: cargo codspeed run
          token: ${{ secrets.CODSPEED_TOKEN }}
          mode: instrumentation

  python:
    name: Benchmarks for Python SDK
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          # CodSpeed looks working with `sys.monitoring`, which has been introduced in 3.12,
          # but updates in 3.13 seems to be required for generating trace information.
          # https://docs.python.org/3/library/sys.monitoring.html
          python-version: "3.13"

      # FIXME: `codspeed` command used in `CodSpeedHQ/action` cannot work with `uv run`
      - name: Build wheel
        run: |
          pip install python/ommx
          pip install pytest-codspeed

      - name: Run benchmarks
        uses: CodSpeedHQ/action@v4
        with:
          run: pytest python/ommx-tests/ --codspeed
          token: ${{ secrets.CODSPEED_TOKEN }}
          mode: instrumentation
